{% extends 'page_base.html' %}
{% load static %}

{% block title %}
    <title>Analyzing demo</title>
{% endblock %}

{% block scripts %}
    <script>
        flashbang_hit_image = '{% static "flashbang_hit.png" %}'
        flashbang_miss_image = '{% static "flashbang_miss.png" %}'
        grenade_hit_image = '{% static "grenade_hit.png" %}'
        grenade_miss_image = '{% static "grenade_miss.png" %}'
    </script>
    <script type="text/javascript" src="{% static 'js/info_tables.js' %}"></script>
    <script type="text/javascript">
        function get_background_url(mapname) {
            if (mapname === "de_mirage") return "{% static 'de_mirage_bg.jpg' %}"
            if (mapname === "de_dust2") return "{% static 'de_dust2_bg.jpg' %}"
            if (mapname === "de_cache") return "{% static 'de_cache_bg.jpg' %}"
            if (mapname === "de_inferno") return "{% static 'de_inferno_bg.jpeg' %}"
            if (mapname === "de_nuke") return "{% static 'de_nuke_bg.jpg' %}"
            if (mapname === "de_vertigo") return "{% static 'de_vertigo_bg.jpg' %}"
            if (mapname === "de_overpass") return "{% static 'de_overpass_bg.jpg' %}"
            if (mapname === "de_train") return "{% static 'de_train_bg.jpg' %}"
            return "";
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded',
            function () {
                const req = new XMLHttpRequest()
                const url = "{% url 'demo_analyze_url' %}"
                const param = "file_name=" + "{{ file_name }}"
                const final_url = encodeURI(url + "?" + param)
                req.open("GET", final_url)
                req.onreadystatechange = function () {
                    if (req.readyState === 4 && req.status === 200) {
                        const json = JSON.parse(req.responseText)
                        console.log(json)
                        let background_url = get_background_url(json['map_name'])

                        let full_flash_table = create_flash_table(json)
                        let full_nades_table = create_grenade_table(json)
                        let full_stats_table = create_table_total_stats(json)
                        document.getElementById("analyzed-info").innerHTML = "<div class=\"row justify-content-center\">\n" +
                            "<p class='mt-md-4'>" + json['map_name'] + ". Score: T1 " + json['score'][1] + " : " + json['score'][2] + " T2</p>\n" +
                            "</div>\n" +
                            "<div class=\"row\">\n" +
                            "  <div class=\"col-1\">\n" +
                            "    <div class=\"list-group\" id=\"list-tab\" role=\"tablist\">\n" +
                            "      <a class=\"list-group-item list-group-item-dark list-group-item-action active\" id=\"list-flashes-list\" data-toggle=\"list\" href=\"#list-flashes\" role=\"tab\" aria-controls=\"home\">Flashes</a>\n" +
                            "      <a class=\"list-group-item list-group-item-dark list-group-item-action\" id=\"list-hes-list\" data-toggle=\"list\" href=\"#list-hes\" role=\"tab\" aria-controls=\"profile\">HEs</a>\n" +
                            "      <a class=\"list-group-item list-group-item-dark list-group-item-action\" id=\"list-smokes-list\" data-toggle=\"list\" href=\"#list-smokes\" role=\"tab\" aria-controls=\"messages\">Smokes</a>\n" +
                            "      <a class=\"list-group-item list-group-item-dark list-group-item-action\" id=\"list-other-list\" data-toggle=\"list\" href=\"#list-other\" role=\"tab\" aria-controls=\"settings\">Total</a>\n" +
                            "    </div>\n" +
                            "  </div>\n" +
                            "  <div class=\"col\">\n" +
                            "    <div class=\"tab-content\" id=\"nav-tabContent\">\n" +
                            "      <div class=\"tab-pane fade show active\" id=\"list-flashes\" role=\"tabpanel\" aria-labelledby=\"list-flashes-list\">" + full_flash_table + "</div>\n" +
                            "      <div class=\"tab-pane fade\" id=\"list-hes\" role=\"tabpanel\" aria-labelledby=\"list-hes-list\">" + full_nades_table + "</div>\n" +
                            "      <div class=\"tab-pane fade\" id=\"list-smokes\" role=\"tabpanel\" aria-labelledby=\"list-smokes-list\">Table of smokes</div>\n" +
                            "      <div class=\"tab-pane fade\" id=\"list-other\" role=\"tabpanel\" aria-labelledby=\"list-other-list\">" + full_stats_table + "</div>\n" +
                            "    </div>\n" +
                            "  </div>\n" +
                            "</div>"
                        document.getElementById("background").style.backgroundImage = "url(" + background_url + ")"
                        document.getElementById("background").style.height = "1080px"
                    } else {
                        document.getElementById("analyzed-info").innerHTML = "<div class=\"row justify-content-center\">\n" +
                                "<p>Server response: " + req.statusText + "</p>" +
                                "</div>"
                    }
                };
                req.send(null);
            });
    </script>
{% endblock %}

{% block content %}
    <div id="background" style="opacity: 0.15; position: absolute; width: 100%"></div>
    <div id="analyzed-info">
        <div class="container mt-md-4">
            <div class="row justify-content-center">
                <p>Analyzing demo</p>
            </div>
            <div class="row justify-content-center">
                <div class="spinner-border text-dark" style="width: 3rem; height: 3rem" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}