{% extends 'page_base.html' %}

{% block content %}
<div class="row justify-content-center">
    <form action="/" method="post">
        {% csrf_token %}
        <button class="btn btn-dark mt-md-4" type="submit">Try demo</button>
    </form>
</div>
{% endblock %}