{% extends 'page_base.html' %}

{% block title %}
    <title>Upload demo</title>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form method="post" action="{% url 'demo_base_url' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload your demo</label>
                <input type="file" class="form-control-file" name="demoFile">
            </div>
            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>

{% endblock %}